<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>StockPocket</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="static/style.css">


  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
              <div class="navbar-header">

                <a href="#">
                  <img src="static/logo1.jpg" width="120" height="80">
                </a>
                <a class= "text" href="#"><h3></h3></a>

              </div>
              <a href="#"></a>
              <a href="#"></a>
              <a href="#"></a>
              <a href="#"></a>
              <!--<a class="text" href="{{url_for("core.info")}}">Quotes</a>-->
              <a class="text" href="{{url_for("core.index")}}">Home</a>
              <a class="text" href="{{url_for("users.sercom")}}">Compare</a>
              {% if current_user.is_authenticated %}
                <a class="text" href="{{url_for("users.addStock")}}">Add Stock</a>
              {% endif %}
              {% if not current_user.is_authenticated %}
                <a class="text" href="{{url_for("users.login")}}">Log in</a>
              {% endif %}
              {% if current_user.is_authenticated %}
                <a class="text" href="{{url_for("users.logout")}}">Log out</a>
              {% endif %}
          </div>
      </nav>

      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <br>
            {% if not current_user.is_authenticated %}
            <h1 class="text1">STOCKPOCKET</h1>
            <h4>Don't be Late, Investing is Great</h4>
            {% endif %}
          </div>
          <div class="col-sm-6 divi2">

            <br>


            {% if not current_user.is_authenticated %}
              <h4>New User?</h4>
              <h5>SignUp Here</h5>
              <a class="btn btn-signup" href="{{url_for("users.register")}}">Sign up</a>
            {% endif %}
            {% if current_user.is_authenticated %}
              <a class="btn btn-update" href="{{url_for("users.update")}}">Update Your Pocket</a>
              <p>Hello! {{current_user}}</p>
            {% endif %}

          </div>

        </div>

      </div>
      </header>


      {% block content %}

      {% endblock %}

  </body>
</html>
