{% extends "base.html" %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<br>
<br>
  <div class="container">

    <form class="form-group" method="POST">
      {{form.hidden_tag()}}
      <div class="form-group">
        {{form.sticker.label(class="form-control-label")}} {{form.sticker(class="form-control form-control-lg")}}
      </div>
      <div class="form-group">
        {{form.submit(class="btn btn-secondary")}}
      </div>
    </form>

    <br>
    <br>
    <div class="container">
      <table class = "center formatt">
        <tr>
          <th> Your Stocks</th>
        </tr>
        {% for item in stickers %}
          <tr>
            <td>{{item}}


              <a href="{{ url_for("users.delete", sticker=item) }}"
                 onclick="return confirm('Do you wish to remove the stock {{ item }}?');" title="Delete Stock">
              <span style="float:right" ><i class="fa fa-trash" style="font-size:16px"></i></span></a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

  </div>
{% endblock %}
